certifi==2020.4.5.1
chardet==3.0.4
Click==7.0
Flask==1.1.1
h==0.99
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
PyExecJS==1.5.1
requests==2.23.0
six==1.15.0
urllib3==1.25.9
Werkzeug==1.0.0
